.tableContainer {
    border-radius: 10px;
  }
  
  .tableHead {
    background-color: #F0F0F0;
  }

  .headerCell {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    padding: 18px 10px;
  }
  
  .dateHeaderCell {
    font-weight: bold;
    color: #1976d2; /* Material-UI's primary blue color */
    background-color: #e3f2fd; /* A light blue background */
    border-bottom: 2px solid #1976d2; /* Adds a bottom border */
  }
  
  .bodyCell {
    text-align: center !important;
    white-space: nowrap;
  }
  
  .title {
    margin-bottom: 30px;
  }

  .tableHeaderCell {
    text-align: center !important;
    white-space: nowrap;
    font-size: 18px !important;  /* Forces the font size */
    font-weight: bold !important;
    color: #333 !important;
    padding: 16px 0px !important;
    background-color: #f2f2f2 !important;
  }

  .playerTableHeaderCell {
    text-align: center !important;
    white-space: nowrap;
    font-size: 14px !important;  /* Forces the font size */
    font-weight: bold !important;
    color: #333 !important;
    padding: 10px 4px !important;
    background-color: #f2f2f2 !important;
  }

/* Style for sticky column with default shadow */
.stickyColumn {
  position: sticky;
  left: 0;
  background: #fff; /* Ensure background color to cover content underneath */
  z-index: 10;
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
}

/* Apply a more pronounced shadow only when the sticky column is over another column */
.table-container .stickyColumn:not(:last-child) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Shadow when sticky column is not the last child */
}

.stickyHeader {
/* todo*/
}

.stickyDetails {
  position: sticky !important;
  font-weight: bold !important;
  top: 0 !important;
  background-color: white  !important; /* Matches the background color of the table or container */
  z-index: 2 !important; /* Ensure it's above other content */
  padding: 8px !important; /* Add some padding if needed */
  border-bottom:1px solid #ccc !important; /* Optional: Adds a border to separate from table */
}